{% extends "base.html" %}
{% block title %}Menu Items | {{ block.super }}{% endblock title %}

{% block content %}
<h2>{{ object.name }}</h2>
<p>Location: {{ object.restaurant.name }}</p>

{% if object.contents %}
<p>Contents</p>
<ul>
    {% for item in object.get_contents %}
    <li>{{ item }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if object.excludes %}
<p>Excludes</p>
<ul>
    {% for item in object.get_excludes %}
    <li>{{ item }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock content %}
